body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 30px;
}
.text{
    font-size: 14px;
}
.orange-color {
    color: orange;
}
.flexible-container {
    display: flex;
    margin-bottom: 20px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    height: 100vh;
}
.half-width img {
    width: 85%;
    padding-top: 14%;
    padding-left: 20px;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.link-button:hover{
    background-image: linear-gradient(rgb(139, 139, 233), blue);
    
    cursor: pointer;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream-big-paragraph {
    padding-right: 125px;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 35px;
    border-radius: 8px;
}
#full-stack-developer {
    border-left: 8px solid tomato;
}
#baby-developer {
    border-left: 8px solid blue;
}
footer {
    text-align: center;
}